@model Dominio.Evento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeAtividade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeAtividade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Oficina.NomeOficina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Oficina.QtdParticipantes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contato.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contato.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Rua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Rua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.UF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.UF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.CEP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.CEP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
