@model IEnumerable<Dominio.Amizade>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioA.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioB.Nome)
            </td>
            <td>
                @Html.ActionLink("Excluir", "Delete", "Amizade", new {   id = item.UsuarioIdA, id2 = item.UsuarioIdB  })
            </td>
        </tr>
}
    </tbody>
</table>
